# Explore here

In [9]:
!pip install -r /workspaces/KNN/requirements.txt

Defaulting to user installation because normal site-packages is not writeable
Collecting ipyleaflet>=0.14.0 (from -r /workspaces/KNN/requirements.txt (line 1))
  Downloading ipyleaflet-0.19.2-py3-none-any.whl.metadata (5.3 kB)
Collecting ipywidgets>=7.7.1 (from -r /workspaces/KNN/requirements.txt (line 2))
  Downloading ipywidgets-8.1.5-py3-none-any.whl.metadata (2.3 kB)
Collecting matplotlib>=3.7.0 (from -r /workspaces/KNN/requirements.txt (line 3))
  Downloading matplotlib-3.10.1-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (11 kB)
Requirement already satisfied: numpy>=1.24.2 in /home/vscode/.local/lib/python3.10/site-packages (from -r /workspaces/KNN/requirements.txt (line 4)) (2.2.4)
Collecting opencv-python>=4.1.2 (from -r /workspaces/KNN/requirements.txt (line 5))
  Downloading opencv_python-4.11.0.86-cp37-abi3-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (20 kB)
Requirement already satisfied: pandas>=1.5.3 in /home/vscode/.local/lib/python3.10/site-packages (from -r /workspaces/KNN/requirements.txt (line 6)) (2.2.3)
Collecting psycopg2-binary>=2.9.3 (from -r /workspaces/KNN/requirements.txt (line 7))
  Downloading psycopg2_binary-2.9.10-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (4.9 kB)
Collecting pymysql>=1.0.2 (from -r /workspaces/KNN/requirements.txt (line 8))
  Downloading PyMySQL-1.1.1-py3-none-any.whl.metadata (4.4 kB)
Collecting python-dotenv>=0.20.0 (from -r /workspaces/KNN/requirements.txt (line 9))
  Downloading python_dotenv-1.0.1-py3-none-any.whl.metadata (23 kB)
Collecting requests>=2.27.1 (from -r /workspaces/KNN/requirements.txt (line 10))
  Downloading requests-2.32.3-py3-none-any.whl.metadata (4.6 kB)
Collecting scikit-learn (from -r /workspaces/KNN/requirements.txt (line 11))
  Downloading scikit_learn-1.6.1-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (18 kB)
Collecting seaborn>=0.12.2 (from -r /workspaces/KNN/requirements.txt (line 12))
  Downloading seaborn-0.13.2-py3-none-any.whl.metadata (5.4 kB)
Collecting sqlalchemy>=1.4.37 (from -r /workspaces/KNN/requirements.txt (line 13))
  Downloading sqlalchemy-2.0.39-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (9.6 kB)
Collecting sympy>=1.10.1 (from -r /workspaces/KNN/requirements.txt (line 14))
  Downloading sympy-1.13.3-py3-none-any.whl.metadata (12 kB)
Collecting xgboost (from -r /workspaces/KNN/requirements.txt (line 15))
  Downloading xgboost-3.0.0-py3-none-manylinux_2_28_x86_64.whl.metadata (2.1 kB)
Collecting branca>=0.5.0 (from ipyleaflet>=0.14.0->-r /workspaces/KNN/requirements.txt (line 1))
  Downloading branca-0.8.1-py3-none-any.whl.metadata (1.5 kB)
Collecting jupyter-leaflet<0.20,>=0.19 (from ipyleaflet>=0.14.0->-r /workspaces/KNN/requirements.txt (line 1))
  Downloading jupyter_leaflet-0.19.2-py3-none-any.whl.metadata (2.4 kB)
Collecting traittypes<3,>=0.2.1 (from ipyleaflet>=0.14.0->-r /workspaces/KNN/requirements.txt (line 1))
  Downloading traittypes-0.2.1-py2.py3-none-any.whl.metadata (1.0 kB)
Collecting xyzservices>=2021.8.1 (from ipyleaflet>=0.14.0->-r /workspaces/KNN/requirements.txt (line 1))
  Downloading xyzservices-2025.1.0-py3-none-any.whl.metadata (4.3 kB)
Requirement already satisfied: comm>=0.1.3 in /home/vscode/.local/lib/python3.10/site-packages (from ipywidgets>=7.7.1->-r /workspaces/KNN/requirements.txt (line 2)) (0.2.2)
Requirement already satisfied: ipython>=6.1.0 in /home/vscode/.local/lib/python3.10/site-packages (from ipywidgets>=7.7.1->-r /workspaces/KNN/requirements.txt (line 2)) (8.34.0)
Requirement already satisfied: traitlets>=4.3.1 in /home/vscode/.local/lib/python3.10/site-packages (from ipywidgets>=7.7.1->-r /workspaces/KNN/requirements.txt (line 2)) (5.14.3)
Collecting widgetsnbextension~=4.0.12 (from ipywidgets>=7.7.1->-r /workspaces/KNN/requirements.txt (line 2))
  Downloading widgetsnbextension-4.0.13-py3-none-any.whl.metadata (1.6 kB)
Collecting jupyterlab-widgets~=3.0.12 (from ipywidgets>=7.7.1->-r /workspaces/KNN/requirements.txt (line 2))
  Downloading jupyterlab_widgets-3.0.13-py3-none-any.whl.metadata (4.1 kB)
Collecting contourpy>=1.0.1 (from matplotlib>=3.7.0->-r /workspaces/KNN/requirements.txt (line 3))
  Downloading contourpy-1.3.1-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (5.4 kB)
Collecting cycler>=0.10 (from matplotlib>=3.7.0->-r /workspaces/KNN/requirements.txt (line 3))
  Downloading cycler-0.12.1-py3-none-any.whl.metadata (3.8 kB)
Collecting fonttools>=4.22.0 (from matplotlib>=3.7.0->-r /workspaces/KNN/requirements.txt (line 3))
  Downloading fonttools-4.56.0-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (101 kB)
Collecting kiwisolver>=1.3.1 (from matplotlib>=3.7.0->-r /workspaces/KNN/requirements.txt (line 3))
  Downloading kiwisolver-1.4.8-cp310-cp310-manylinux_2_12_x86_64.manylinux2010_x86_64.whl.metadata (6.2 kB)
Requirement already satisfied: packaging>=20.0 in /home/vscode/.local/lib/python3.10/site-packages (from matplotlib>=3.7.0->-r /workspaces/KNN/requirements.txt (line 3)) (24.2)
Collecting pillow>=8 (from matplotlib>=3.7.0->-r /workspaces/KNN/requirements.txt (line 3))
  Downloading pillow-11.1.0-cp310-cp310-manylinux_2_28_x86_64.whl.metadata (9.1 kB)
Collecting pyparsing>=2.3.1 (from matplotlib>=3.7.0->-r /workspaces/KNN/requirements.txt (line 3))
  Downloading pyparsing-3.2.1-py3-none-any.whl.metadata (5.0 kB)
Requirement already satisfied: python-dateutil>=2.7 in /home/vscode/.local/lib/python3.10/site-packages (from matplotlib>=3.7.0->-r /workspaces/KNN/requirements.txt (line 3)) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /home/vscode/.local/lib/python3.10/site-packages (from pandas>=1.5.3->-r /workspaces/KNN/requirements.txt (line 6)) (2025.1)
Requirement already satisfied: tzdata>=2022.7 in /home/vscode/.local/lib/python3.10/site-packages (from pandas>=1.5.3->-r /workspaces/KNN/requirements.txt (line 6)) (2025.2)
Collecting charset-normalizer<4,>=2 (from requests>=2.27.1->-r /workspaces/KNN/requirements.txt (line 10))
  Downloading charset_normalizer-3.4.1-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (35 kB)
Collecting idna<4,>=2.5 (from requests>=2.27.1->-r /workspaces/KNN/requirements.txt (line 10))
  Downloading idna-3.10-py3-none-any.whl.metadata (10 kB)
Collecting urllib3<3,>=1.21.1 (from requests>=2.27.1->-r /workspaces/KNN/requirements.txt (line 10))
  Downloading urllib3-2.3.0-py3-none-any.whl.metadata (6.5 kB)
Collecting certifi>=2017.4.17 (from requests>=2.27.1->-r /workspaces/KNN/requirements.txt (line 10))
  Downloading certifi-2025.1.31-py3-none-any.whl.metadata (2.5 kB)
Collecting scipy>=1.6.0 (from scikit-learn->-r /workspaces/KNN/requirements.txt (line 11))
  Downloading scipy-1.15.2-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (61 kB)
Collecting joblib>=1.2.0 (from scikit-learn->-r /workspaces/KNN/requirements.txt (line 11))
  Downloading joblib-1.4.2-py3-none-any.whl.metadata (5.4 kB)
Collecting threadpoolctl>=3.1.0 (from scikit-learn->-r /workspaces/KNN/requirements.txt (line 11))
  Downloading threadpoolctl-3.6.0-py3-none-any.whl.metadata (13 kB)
Collecting greenlet!=0.4.17 (from sqlalchemy>=1.4.37->-r /workspaces/KNN/requirements.txt (line 13))
  Downloading greenlet-3.1.1-cp310-cp310-manylinux_2_24_x86_64.manylinux_2_28_x86_64.whl.metadata (3.8 kB)
Requirement already satisfied: typing-extensions>=4.6.0 in /home/vscode/.local/lib/python3.10/site-packages (from sqlalchemy>=1.4.37->-r /workspaces/KNN/requirements.txt (line 13)) (4.12.2)
Collecting mpmath<1.4,>=1.1.0 (from sympy>=1.10.1->-r /workspaces/KNN/requirements.txt (line 14))
  Downloading mpmath-1.3.0-py3-none-any.whl.metadata (8.6 kB)
Collecting nvidia-nccl-cu12 (from xgboost->-r /workspaces/KNN/requirements.txt (line 15))
  Downloading nvidia_nccl_cu12-2.26.2-py3-none-manylinux2014_x86_64.manylinux_2_17_x86_64.whl.metadata (2.0 kB)
Collecting jinja2>=3 (from branca>=0.5.0->ipyleaflet>=0.14.0->-r /workspaces/KNN/requirements.txt (line 1))
  Downloading jinja2-3.1.6-py3-none-any.whl.metadata (2.9 kB)
Requirement already satisfied: decorator in /home/vscode/.local/lib/python3.10/site-packages (from ipython>=6.1.0->ipywidgets>=7.7.1->-r /workspaces/KNN/requirements.txt (line 2)) (5.2.1)
Requirement already satisfied: exceptiongroup in /home/vscode/.local/lib/python3.10/site-packages (from ipython>=6.1.0->ipywidgets>=7.7.1->-r /workspaces/KNN/requirements.txt (line 2)) (1.2.2)
Requirement already satisfied: jedi>=0.16 in /home/vscode/.local/lib/python3.10/site-packages (from ipython>=6.1.0->ipywidgets>=7.7.1->-r /workspaces/KNN/requirements.txt (line 2)) (0.19.2)
Requirement already satisfied: matplotlib-inline in /home/vscode/.local/lib/python3.10/site-packages (from ipython>=6.1.0->ipywidgets>=7.7.1->-r /workspaces/KNN/requirements.txt (line 2)) (0.1.7)
Requirement already satisfied: pexpect>4.3 in /home/vscode/.local/lib/python3.10/site-packages (from ipython>=6.1.0->ipywidgets>=7.7.1->-r /workspaces/KNN/requirements.txt (line 2)) (4.9.0)
Requirement already satisfied: prompt_toolkit<3.1.0,>=3.0.41 in /home/vscode/.local/lib/python3.10/site-packages (from ipython>=6.1.0->ipywidgets>=7.7.1->-r /workspaces/KNN/requirements.txt (line 2)) (3.0.50)
Requirement already satisfied: pygments>=2.4.0 in /home/vscode/.local/lib/python3.10/site-packages (from ipython>=6.1.0->ipywidgets>=7.7.1->-r /workspaces/KNN/requirements.txt (line 2)) (2.19.1)
Requirement already satisfied: stack_data in /home/vscode/.local/lib/python3.10/site-packages (from ipython>=6.1.0->ipywidgets>=7.7.1->-r /workspaces/KNN/requirements.txt (line 2)) (0.6.3)
Requirement already satisfied: six>=1.5 in /home/vscode/.local/lib/python3.10/site-packages (from python-dateutil>=2.7->matplotlib>=3.7.0->-r /workspaces/KNN/requirements.txt (line 3)) (1.17.0)
Requirement already satisfied: parso<0.9.0,>=0.8.4 in /home/vscode/.local/lib/python3.10/site-packages (from jedi>=0.16->ipython>=6.1.0->ipywidgets>=7.7.1->-r /workspaces/KNN/requirements.txt (line 2)) (0.8.4)
Collecting MarkupSafe>=2.0 (from jinja2>=3->branca>=0.5.0->ipyleaflet>=0.14.0->-r /workspaces/KNN/requirements.txt (line 1))
  Downloading MarkupSafe-3.0.2-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (4.0 kB)
Requirement already satisfied: ptyprocess>=0.5 in /home/vscode/.local/lib/python3.10/site-packages (from pexpect>4.3->ipython>=6.1.0->ipywidgets>=7.7.1->-r /workspaces/KNN/requirements.txt (line 2)) (0.7.0)
Requirement already satisfied: wcwidth in /home/vscode/.local/lib/python3.10/site-packages (from prompt_toolkit<3.1.0,>=3.0.41->ipython>=6.1.0->ipywidgets>=7.7.1->-r /workspaces/KNN/requirements.txt (line 2)) (0.2.13)
Requirement already satisfied: executing>=1.2.0 in /home/vscode/.local/lib/python3.10/site-packages (from stack_data->ipython>=6.1.0->ipywidgets>=7.7.1->-r /workspaces/KNN/requirements.txt (line 2)) (2.2.0)
Requirement already satisfied: asttokens>=2.1.0 in /home/vscode/.local/lib/python3.10/site-packages (from stack_data->ipython>=6.1.0->ipywidgets>=7.7.1->-r /workspaces/KNN/requirements.txt (line 2)) (3.0.0)
Requirement already satisfied: pure-eval in /home/vscode/.local/lib/python3.10/site-packages (from stack_data->ipython>=6.1.0->ipywidgets>=7.7.1->-r /workspaces/KNN/requirements.txt (line 2)) (0.2.3)
Downloading ipyleaflet-0.19.2-py3-none-any.whl (31 kB)
Downloading ipywidgets-8.1.5-py3-none-any.whl (139 kB)
Downloading matplotlib-3.10.1-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (8.6 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 8.6/8.6 MB 67.1 MB/s eta 0:00:00
Downloading opencv_python-4.11.0.86-cp37-abi3-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (63.0 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 63.0/63.0 MB 64.1 MB/s eta 0:00:00:00:0100:01
Downloading psycopg2_binary-2.9.10-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (3.0 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 3.0/3.0 MB 68.2 MB/s eta 0:00:00
Downloading PyMySQL-1.1.1-py3-none-any.whl (44 kB)
Downloading python_dotenv-1.0.1-py3-none-any.whl (19 kB)
Downloading requests-2.32.3-py3-none-any.whl (64 kB)
Downloading scikit_learn-1.6.1-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (13.5 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 13.5/13.5 MB 70.5 MB/s eta 0:00:00
Downloading seaborn-0.13.2-py3-none-any.whl (294 kB)
Downloading sqlalchemy-2.0.39-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (3.1 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 3.1/3.1 MB 60.6 MB/s eta 0:00:00
Downloading sympy-1.13.3-py3-none-any.whl (6.2 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 6.2/6.2 MB 70.1 MB/s eta 0:00:00
Downloading xgboost-3.0.0-py3-none-manylinux_2_28_x86_64.whl (253.9 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 253.9/253.9 MB 61.5 MB/s eta 0:00:0000:0100:01
Downloading branca-0.8.1-py3-none-any.whl (26 kB)
Downloading certifi-2025.1.31-py3-none-any.whl (166 kB)
Downloading charset_normalizer-3.4.1-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (146 kB)
Downloading contourpy-1.3.1-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (324 kB)
Downloading cycler-0.12.1-py3-none-any.whl (8.3 kB)
Downloading fonttools-4.56.0-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (4.6 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 4.6/4.6 MB 70.5 MB/s eta 0:00:00
Downloading greenlet-3.1.1-cp310-cp310-manylinux_2_24_x86_64.manylinux_2_28_x86_64.whl (599 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 599.5/599.5 kB 39.9 MB/s eta 0:00:00
Downloading idna-3.10-py3-none-any.whl (70 kB)
Downloading joblib-1.4.2-py3-none-any.whl (301 kB)
Downloading jupyter_leaflet-0.19.2-py3-none-any.whl (1.1 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.1/1.1 MB 48.5 MB/s eta 0:00:00
Downloading jupyterlab_widgets-3.0.13-py3-none-any.whl (214 kB)
Downloading kiwisolver-1.4.8-cp310-cp310-manylinux_2_12_x86_64.manylinux2010_x86_64.whl (1.6 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.6/1.6 MB 64.5 MB/s eta 0:00:00
Downloading mpmath-1.3.0-py3-none-any.whl (536 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 536.2/536.2 kB 30.9 MB/s eta 0:00:00
Downloading pillow-11.1.0-cp310-cp310-manylinux_2_28_x86_64.whl (4.5 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 4.5/4.5 MB 60.1 MB/s eta 0:00:00
Downloading pyparsing-3.2.1-py3-none-any.whl (107 kB)
Downloading scipy-1.15.2-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (37.6 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 37.6/37.6 MB 70.1 MB/s eta 0:00:00:00:01
Downloading threadpoolctl-3.6.0-py3-none-any.whl (18 kB)
Downloading traittypes-0.2.1-py2.py3-none-any.whl (8.6 kB)
Downloading urllib3-2.3.0-py3-none-any.whl (128 kB)
Downloading widgetsnbextension-4.0.13-py3-none-any.whl (2.3 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 2.3/2.3 MB 63.7 MB/s eta 0:00:00
Downloading xyzservices-2025.1.0-py3-none-any.whl (88 kB)
Downloading nvidia_nccl_cu12-2.26.2-py3-none-manylinux2014_x86_64.manylinux_2_17_x86_64.whl (201.3 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 201.3/201.3 MB 65.2 MB/s eta 0:00:0000:0100:01
Downloading jinja2-3.1.6-py3-none-any.whl (134 kB)
Downloading MarkupSafe-3.0.2-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (20 kB)
Installing collected packages: mpmath, xyzservices, widgetsnbextension, urllib3, traittypes, threadpoolctl, sympy, scipy, python-dotenv, pyparsing, pymysql, psycopg2-binary, pillow, opencv-python, nvidia-nccl-cu12, MarkupSafe, kiwisolver, jupyterlab-widgets, jupyter-leaflet, joblib, idna, greenlet, fonttools, cycler, contourpy, charset-normalizer, certifi, xgboost, sqlalchemy, scikit-learn, requests, matplotlib, jinja2, seaborn, ipywidgets, branca, ipyleaflet
Successfully installed MarkupSafe-3.0.2 branca-0.8.1 certifi-2025.1.31 charset-normalizer-3.4.1 contourpy-1.3.1 cycler-0.12.1 fonttools-4.56.0 greenlet-3.1.1 idna-3.10 ipyleaflet-0.19.2 ipywidgets-8.1.5 jinja2-3.1.6 joblib-1.4.2 jupyter-leaflet-0.19.2 jupyterlab-widgets-3.0.13 kiwisolver-1.4.8 matplotlib-3.10.1 mpmath-1.3.0 nvidia-nccl-cu12-2.26.2 opencv-python-4.11.0.86 pillow-11.1.0 psycopg2-binary-2.9.10 pymysql-1.1.1 pyparsing-3.2.1 python-dotenv-1.0.1 requests-2.32.3 scikit-learn-1.6.1 scipy-1.15.2 seaborn-0.13.2 sqlalchemy-2.0.39 sympy-1.13.3 threadpoolctl-3.6.0 traittypes-0.2.1 urllib3-2.3.0 widgetsnbextension-4.0.13 xgboost-3.0.0 xyzservices-2025.1.0

In [15]:
import pandas as pd

#  CSV en DataFrames
movies_df = pd.read_csv("/workspaces/KNN/data/raw/tmdb_5000_movies.csv")
credits_df = pd.read_csv("/workspaces/KNN/data/raw/tmdb_5000_credits.csv")

# Mostrar las primeras filas de cada DataFrame
print("Primeras filas de movies_df:")
display(movies_df.head())

print("\nPrimeras filas de credits_df:")
display(credits_df.head())

Primeras filas de movies_df:

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2009-12-10,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800
1,300000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",http://disney.go.com/disneypictures/pirates/,285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2007-05-19,961000000,169.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500
2,245000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.sonypictures.com/movies/spectre/,206647,"[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...",en,Spectre,A cryptic message from Bond’s past sends him o...,107.376788,"[{""name"": ""Columbia Pictures"", ""id"": 5}, {""nam...","[{""iso_3166_1"": ""GB"", ""name"": ""United Kingdom""...",2015-10-26,880674609,148.0,"[{""iso_639_1"": ""fr"", ""name"": ""Fran\u00e7ais""},...",Released,A Plan No One Escapes,Spectre,6.3,4466
3,250000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...",http://www.thedarkknightrises.com/,49026,"[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...",en,The Dark Knight Rises,Following the death of District Attorney Harve...,112.312950,"[{""name"": ""Legendary Pictures"", ""id"": 923}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-07-16,1084939099,165.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,The Legend Ends,The Dark Knight Rises,7.6,9106
4,260000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://movies.disney.com/john-carter,49529,"[{""id"": 818, ""name"": ""based on novel""}, {""id"":...",en,John Carter,"John Carter is a war-weary, former military ca...",43.926995,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}]","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-03-07,284139100,132.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"Lost in our world, found in another.",John Carter,6.1,2124

Primeras filas de credits_df:

,movie_id,title,cast,crew
0,19995,Avatar,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,Spectre,"[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,49026,The Dark Knight Rises,"[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,49529,John Carter,"[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

In [16]:
# Comprobar columnas 
# Verificar las columnas en movies_df
print("Columnas en movies_df:", movies_df.columns.tolist())

# Verificar las columnas en credits_df
print("Columnas en credits_df:", credits_df.columns.tolist())

Columnas en movies_df: ['budget', 'genres', 'homepage', 'id', 'keywords', 'original_language', 'original_title', 'overview', 'popularity', 'production_companies', 'production_countries', 'release_date', 'revenue', 'runtime', 'spoken_languages', 'status', 'tagline', 'title', 'vote_average', 'vote_count']
Columnas en credits_df: ['movie_id', 'title', 'cast', 'crew']

In [17]:
# Creación de una base de datos y unión de tablas con SQL
import sqlite3

# Crear una conexión a una base de datos en memoria
conn = sqlite3.connect(":memory:")

# Guardar los DataFrames como tablas en SQLite
movies_df.to_sql("movies", conn, index=False, if_exists="replace")
credits_df.to_sql("credits", conn, index=False, if_exists="replace")

# Verificar la estructura de la tabla en SQLite
movies_sql_check = pd.read_sql("PRAGMA table_info(movies);", conn)
credits_sql_check = pd.read_sql("PRAGMA table_info(credits);", conn)

print("Estructura de la tabla 'movies' en SQLite:")
display(movies_sql_check)

print("\nEstructura de la tabla 'credits' en SQLite:")
display(credits_sql_check)

# Modificar la consulta SQL para usar `id` en lugar de `movie_id`
query = """
SELECT 
    m.id AS movie_id, 
    m.title, 
    m.overview, 
    m.genres, 
    m.keywords, 
    c.cast, 
    c.crew
FROM movies m
JOIN credits c ON m.title = c.title
"""

# Crear un nuevo DataFrame con la información unificada
merged_df = pd.read_sql(query, conn)

# Cerrar la conexión a la base de datos
conn.close()

# Mostrar las primeras filas del DataFrame unificado
display(merged_df.head())

Estructura de la tabla 'movies' en SQLite:

    cid                  name     type  notnull dflt_value  pk
0     0                budget  INTEGER        0       None   0
1     1                genres     TEXT        0       None   0
2     2              homepage     TEXT        0       None   0
3     3                    id  INTEGER        0       None   0
4     4              keywords     TEXT        0       None   0
5     5     original_language     TEXT        0       None   0
6     6        original_title     TEXT        0       None   0
7     7              overview     TEXT        0       None   0
8     8            popularity     REAL        0       None   0
9     9  production_companies     TEXT        0       None   0
10   10  production_countries     TEXT        0       None   0
11   11          release_date     TEXT        0       None   0
12   12               revenue  INTEGER        0       None   0
13   13               runtime     REAL        0       None   0
14   14      spoken_languages     TEXT        0       None   0
15   15                status     TEXT        0       None   0
16   16               tagline     TEXT        0       None   0
17   17                 title     TEXT        0       None   0
18   18          vote_average     REAL        0       None   0
19   19            vote_count  INTEGER        0       None   0

Estructura de la tabla 'credits' en SQLite:

   cid      name     type  notnull dflt_value  pk
0    0  movie_id  INTEGER        0       None   0
1    1     title     TEXT        0       None   0
2    2      cast     TEXT        0       None   0
3    3      crew     TEXT        0       None   0

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...","[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...","[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...","[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...","[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,Spectre,A cryptic message from Bond’s past sends him o...,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...","[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,49026,The Dark Knight Rises,Following the death of District Attorney Harve...,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...","[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...","[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,49529,John Carter,"John Carter is a war-weary, former military ca...","[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 818, ""name"": ""based on novel""}, {""id"":...","[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

In [18]:
# Transformación de datos
import ast

# Función para extraer los nombres de una lista de diccionarios en formato JSON
def extract_names(json_str):
    try:
        data = ast.literal_eval(json_str)  # Convertir de string a lista de diccionarios
        return " ".join([item["name"].replace(" ", "") for item in data])
    except:
        return ""

# Aplicar la función a las columnas 'genres' y 'keywords'
merged_df["genres"] = merged_df["genres"].apply(extract_names)
merged_df["keywords"] = merged_df["keywords"].apply(extract_names)

# Mostrar las primeras filas después de la transformación
display(merged_df[["genres", "keywords"]].head())

,genres,keywords
0,Action Adventure Fantasy ScienceFiction,cultureclash future spacewar spacecolony socie...
1,Adventure Fantasy Action,ocean drugabuse exoticisland eastindiatradingc...
2,Action Adventure Crime,spy basedonnovel secretagent sequel mi6 britis...
3,Action Crime Drama Thriller,dccomics crimefighter terrorist secretidentity...
4,Action Adventure ScienceFiction,basedonnovel mars medallion spacetravel prince...

In [19]:
# Transformar la columna cast para obtener los tres primeros actores
import ast

# Función para extraer los nombres de una lista de diccionarios en formato JSON
def extract_names(json_str):
    try:
        data = ast.literal_eval(json_str)  # Convertir de string a lista de diccionarios
        return " ".join([item["name"].replace(" ", "") for item in data])
    except:
        return ""

# Aplicar la función a las columnas 'genres' y 'keywords'
merged_df["genres"] = merged_df["genres"].apply(extract_names)
merged_df["keywords"] = merged_df["keywords"].apply(extract_names)

# Mostrar las primeras filas después de la transformación
display(merged_df[["genres", "keywords"]].head())

  genres keywords
0
1
2
3
4

In [20]:
# Extraer el nombre del director de la columna crew
# Función para extraer el director
def extract_director(json_str):
    try:
        data = ast.literal_eval(json_str)
        for crew_member in data:
            if crew_member["job"] == "Director":
                return crew_member["name"].replace(" ", "")
        return ""
    except:
        return ""

# Aplicar la función
merged_df["crew"] = merged_df["crew"].apply(extract_director)

# Mostrar las primeras filas después de la transformación
display(merged_df[["crew"]].head())

               crew
0      JamesCameron
1     GoreVerbinski
2         SamMendes
3  ChristopherNolan
4     AndrewStanton

In [21]:
# Convertir overview en lista de palabras
# Convertir 'overview' en una lista de palabras
merged_df["overview"] = merged_df["overview"].fillna("").apply(lambda x: x.replace(" ", ""))

# Mostrar las primeras filas después de la transformación
display(merged_df[["overview"]].head())

                                            overview
0  Inthe22ndcentury,aparaplegicMarineisdispatched...
1  CaptainBarbossa,longbelievedtobedead,hascomeba...
2  AcrypticmessagefromBond’spastsendshimonatrailt...
3  FollowingthedeathofDistrictAttorneyHarveyDent,...
4  JohnCarterisawar-weary,formermilitarycaptainwh...

In [22]:
# Crear la columna tags combinando todas las columnas procesadas
merged_df["tags"] = (
    merged_df["overview"] + " " +
    merged_df["genres"] + " " +
    merged_df["keywords"] + " " +
    merged_df["cast"] + " " +
    merged_df["crew"]
)

# Mostrar las primeras filas de la nueva columna
display(merged_df[["tags"]].head())

                                                tags
0  Inthe22ndcentury,aparaplegicMarineisdispatched...
1  CaptainBarbossa,longbelievedtobedead,hascomeba...
2  AcrypticmessagefromBond’spastsendshimonatrailt...
3  FollowingthedeathofDistrictAttorneyHarveyDent,...
4  JohnCarterisawar-weary,formermilitarycaptainwh...

In [23]:
# Construcción del modelo KNN
# Vectorización del Texto
from sklearn.feature_extraction.text import CountVectorizer

# Instanciar el vectorizador
vectorizer = CountVectorizer(max_features=5000, stop_words="english")

# Aplicar transformación a la columna 'tags'
vectors = vectorizer.fit_transform(merged_df["tags"]).toarray()

# Mostrar la forma de la matriz de características
print("Forma de la matriz de características:", vectors.shape)

Forma de la matriz de características: (4809, 5000)

In [24]:
# Calcular la similitud del coseno
from sklearn.metrics.pairwise import cosine_similarity

# Calcular la matriz de similitud del coseno
similarity = cosine_similarity(vectors)

# Mostrar una parte de la matriz de similitud
print("Matriz de similitud:")
display(similarity[:5, :5])

Matriz de similitud:

array([[1.        , 0.9706301 , 0.9823828 , 0.97916283, 0.97494667],
       [0.9706301 , 1.        , 0.97901649, 0.95938301, 0.97740588],
       [0.9823828 , 0.97901649, 1.        , 0.97409213, 0.98406376],
       [0.97916283, 0.95938301, 0.97409213, 1.        , 0.96390781],
       [0.97494667, 0.97740588, 0.98406376, 0.96390781, 1.        ]])

In [25]:
# Función de recomendación basada en similitud del coseno
def recommend(movie):
    try:
        # Obtener el índice de la película
        movie_index = merged_df[merged_df["title"] == movie].index[0]

        # Obtener las distancias de similitud
        distances = similarity[movie_index]

        # Ordenar las películas por similitud y obtener las 5 más cercanas
        movie_list = sorted(list(enumerate(distances)), reverse=True, key=lambda x: x[1])[1:6]

        # Imprimir los títulos recomendados
        print("Películas recomendadas:")
        for i in movie_list:
            print(merged_df.iloc[i[0]].title)
    
    except IndexError:
        print("La película no se encuentra en la base de datos.")

In [26]:
# USO: Escribir una película dentro de los ("___") y saldrán las recomendaciones
recommend("Avatar")

Películas recomendadas:
American Gangster
The Artist
The Dark Knight
Django Unchained
Changeling